<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DEF.Sitecore.DataExchange" version="2.0.1" targetFramework="net462" />
  <package id="DEF.Sitecore.DataExchange.DataAccess" version="2.0.1" targetFramework="net462" />
  <package id="DEF.Sitecore.DataExchange.Local" version="2.0.1" targetFramework="net462" />
  <package id="DEF.Sitecore.DataExchange.Providers.Sc" version="2.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Buckets" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ContentSearch" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.ContentSearch.Linq" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Services.Core" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Services.Infrastructure.Sitecore" version="9.0.1" targetFramework="net462" />
</packages>